@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,700;1,900&display=swap');

body {
    display: block;
    font-family: "Roboto";
    margin: 0px;
}

header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 42px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
    margin-bottom: 8px;
    padding: 0px;
    line-height: 0.9;
}


a {
    text-decoration: none;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

.hero {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 120px 42px;
    gap: 5px;
}

.hero-left {
    flex: 1;
}

.hero-left p {
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

.hero-left button {
    border-style: none;
}

.hero-right {
    width: 400px;
    height: 200px;
    flex: 1;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 60px 2vw;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    flex-wrap: wrap;
}

.cards {
    width: 150px;
    height: 150px;
    border: 3px #3882F6 solid;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    
}

.card-sheet {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.quote-container {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 42px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    text-align: justify;
    
}

.author {
    align-self: flex-end;
    font-weight: bold;
}

.call-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 42px;
}

.action-container {
    display: flex;
    background-color: #3882F6;
    padding: 10px 100px;
    border-radius: 10px;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.action-text h4 {
    margin-bottom: 0px;
}

.action-text p {
    margin-top: 0px;
}

button {
    background-color: #3882F6;
    border-radius: 6px;
    padding: 5px 20px;
    border-style: solid;
    border-color: white;
    color: white;
}


footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
